<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @converter.name %>
</p>

<p>
  <strong>File:</strong>
  <%= File.basename(@converter.file.path) %>
  <%= link_to 'Download', download_converter_path(@converter) %>
</p>

<%= link_to 'Edit', edit_converter_path(@converter) %> |
<%= link_to 'Back', converters_path %>
