<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @converter.name %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @converter.extension %>
</p>

<p>
  <strong>Download CSV file:</strong>
  <%= link_to 'Download', download_converter_path(@converter) %>
</p>

<%= link_to 'Edit', edit_converter_path(@converter) %> |
<%= link_to 'Back', converters_path %>
