<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @converter.name %>
</p>

<p>
  <strong>File:</strong>
  <%= @converter.file.current_path %>
</p>

<%= link_to 'Edit', edit_converter_path(@converter) %> |
<%= link_to 'Back', converters_path %>
